{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">   
  <h1>Привет, я автор</h1>
  <p>
    Хотелось бы мне показать крутые навыки верстки. Но пока всё моё
    внимание приложена к "БЭКЭНДУ".
  </p>
  <p>
    Я начал изучать Python летом 2021. Использовал все доступные методы
    для самообучения: книги, бесплатные курсы, лекции, ролики на YouTube.
    Узнал много разных вещей. Сделал несколько интересных проектов. Но в 
    яндексе почему-то самому языку решили отнестись поверхностно. Онлайн 
    обучение занимающее пару часов. Не показывали никаких интересных 
    возможностей языка. 🤷‍♂️
  </p>
  <p>
    Сейчас вы можете наблюдать результат работы четырех спринтов. На этом
    спринте, моя пылающая пятая точка могла отопить самый холодный район Сибири.
    Каждое действие соправождалось многочасовым, а в некоторых местах
    многодневным гуглением, чтением документации, помощь комьюнити. Почти
    каждое действие - это отладка и дороботка. Зато борьба с этими ошибками
    помогла лучше разобраться с этими темами.
  </p>
  <p><b>
    Лучшее впереди.</b> 😎
  </p>
  <p>
     Данная страница будет обновляться по мере прогресса. Так
    что следите за новостями.
  </p>
</div>
{% endblock %} 