{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">   
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Python
        </li>
        <li class="list-group-item">
            Django
        </li>
        <li class="list-group-item">
          Git
        </li>
        <li class="list-group-item">
          SQL
        </li>
        <li class="list-group-item">
          HTML/CSS
        </li>
        </ul>
    </aside>
    <article class="col-12 col-md-9">
    <p>
      <ul style="list-style: none;">
        <li>Хорошее знание Python. Понимаю основы ООП.
        <li>Знание стандартных алгоритмов.
        <li>Хорошее знание Django. Понимаю принцип работы ORM, создание форм, тестирование.
        <li>Знание HTML/CSS. Базовые навыки вёрстки страниц.
        <li>Хорошее знание SQL. Умею писать запросы к БД. Понимание реляционных БД.
        <li>Знание Git. Использование контроля версий Git для проектов совместно с GitHub.
    </p>
    <p>
      В качестве учебного проекта написал социальную сеть на Django.
      В проекте применил стек технологий:
      Наследование моделей пользователей, создание моделей публикаций и групп, применение ORM.
      На базе моделей создание форм.
      Регистрация, восстановление и изменения пароля.
      Подключение SQLite.
      Хеширование данных.
      Вёрстка страниц, создание шаблонов, подключение стилей.
      Покрытие проекта тестами.
    </p>
    <p>
      Как pet-project на библиотеке Pygame создал пародию на игру Alien Invasion.
      Во время написания проекта использовались принципы ООП.
    </p>
    <p>
      Мой GitHub <a href=https://github.com/Flomixon>github.com/Flomixon</a></p>
    </article>
  </div>
</div>
{% endblock %} 