{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">   
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Python
        </li>
        <li class="list-group-item">
            Django
        </li>
        <li class="list-group-item">
          Git
        </li>
        <li class="list-group-item">
          SQL
        </li>
        <li class="list-group-item">
          HTML/CSS
        </li>
        </ul>
    </aside>
    <article class="col-12 col-md-9">
        <p>
          Знаю язык Python. Разбираюсь в простых алгоритмах.
          Хорошо разобрался с БД. Умею писать разной сложности запросы.
          Django в процессе освоения, пока знаю простые вещи, но их уже
          достаточно, чтобы написать простой сайт. HTML/CSS - верстаем со 
          справочником. Ну все с чего-то начинали. Git стал хорошим другом.
          Особенно GitHub когда накосячишь с локальным репозиторием.
        </p>
    </article>
  </div>
</div>
{% endblock %} 